#parent {
    height: 300px;
    width: 300px;
    border: 5px solid blue;
    overflow: hidden;
    
}

#child {
    height: 100%;
    width: 100%;
    background-image: url('../zdjecie%20malpy.png');
    background-size: cover;
    background-position: center;
    transition: all .3s;
        
}

#child:hover {
    transform: scale(1.5);
}